<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <form method="POST">
      <div>
        <input id="b_writer" name="b_writer" type="hidden" value="<%- BBS.b_id %>" />
      </div>
      <div>
        <label>작성자</label><input id="b_writer" name="b_writer" type="text" value="<%- BBS.b_writer %>" />
      </div>
      <div>
        <label>작성일자</label><input id="b_date" name="b_date" type="text" value="<%- BBS.b_date %>"/>
      </div>
      <div>
        <label>작성시간</label><input id="b_time" name="b_time" type="text" value="<%- BBS.b_time %>"/>
      </div>
      <div>
        <label>제목</label><input id="b_subject" name="b_subject" type="text" value="<%- BBS.b_subject %>"/>
      </div>
      <div>
        <label>내용</label><textarea id="b_text" name="b_text"><%- BBS.b_text %></textarea>
      </div>
      <button id="btn_save">저장</button>
    </form>

    <button>수정</button>
  </body>
</html>
